!!!
%html
	%head
		%title DylanTonic - A Refreshing Twitch Experience

	%body
		%h1 Welcome
		%p
			DylanTonic is a Food and Drink streamer, on Twitch!

	%footer
		%p
			Follow DylanTonic on 
			%a{ :href=> "https://twitch.tv/dylantonic"}Twitch!